@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 17px;
}
body {
  font-family: "Roboto", sans-serif;
}
table {
  background: chartreuse;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 4rem;
}
.button {
  margin-left: 20%;
}
